<!-- <ion-footer class="ion-no-border footer gradient1"> -->
  <!-- <ion-toolbar> -->
    <!-- <ion-title>Footer - No Border</ion-title> -->
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4"  size-xs="12" offset-sm="1" class="text" >
          <img src="/assets/img/logo1.png">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-note><ion-icon name="location"></ion-icon>Medife House(3rd Floor), 58/60 Broad Street, Lagos Island, Lagos.</ion-note>
              </ion-col>
            </ion-row>

              <ion-row>
                <ion-col>
                  <ion-note><ion-icon name="call"></ion-icon> +23480-2344-3614</ion-note>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-note><ion-icon name="mail"></ion-icon> info@ashonng.org</ion-note>
                </ion-col>
              </ion-row>
          </ion-grid>

          
        </ion-col>
        <ion-col size-sm="3" size-xs="12"><span class="footer-bold">Useful links</span>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-note><a href="#">About us</a></ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-note><a href="#">Gallery</a></ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-note><a href="#">Members</a></ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-note><a href="#">Downloads</a></ion-note>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col>
                <ion-note><a href="#">Contact us</a></ion-note>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-col>
        <ion-col size-sm="3" size-xs="12">
          <span class="footer-bold">Join our new letters now</span>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-note>Get email updates about our latest products and special offers</ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-input placeholder ="Please write your email" color="dark" clearinput type="text"></ion-input><ion-button>Subscribe</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        
    
      </ion-row>
<ion-row>
  <ion-col size-sm="10" offset-sm="1">
    <ion-footer class="ion-text-center">
      <ion-note class="ion-margin">
        ashonng.org &copy;2021 Built by <a href="#" target="_blank">Photizo Technologies</a></ion-note>
    </ion-footer>
  </ion-col>
</ion-row>
      
    </ion-grid>
  <!-- </ion-toolbar> -->

<!-- </ion-footer> -->