<!-- <ion-header> -->
  <ion-toolbar class="menu-top ion-hide-sm-up">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>dash</ion-title> -->
    <ion-grid>
      <ion-row>
        <ion-col size-sm="5" offset-sm="1" class="ion-text-start contact-space" >
          <a href="#" id="email" class="fa fa-envelope"></a>
          <!-- <span id="email1">info@ashonng.org</span>&nbsp; -->
          <ion-note color="light"><ion-icon name="call"></ion-icon> 01902229306</ion-note>
        </ion-col>


        <ion-col size-sm="5" class="ion-text-end">
          <!-- <ion-buttons slot="end"> -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            
         
            <!-- <ion-menu-button menu="first"></ion-menu-button> -->
          <!-- <ion-button><ion-icon name="person">Login</ion-icon></ion-button> -->
        <!-- </ion-buttons> -->
        </ion-col>

        <!-- <ion-col size-sm="2" class="ion-text-end">
          <a href="#" class="fa fa-user"></a><span>Login</span>
        </ion-col> -->
      </ion-row>
    </ion-grid>  </ion-toolbar>

<!-- </ion-header> -->

<ion-content>
  <div class="head-logo">
    <ion-row >

      <ion-col size-sm="4" size-xs="12" class="ion-text-center">
        <!-- <img src="/assets/img/logo1.png">
         -->
         <div style="height: 140px; background-image: url('assets/img/logo1.png'); background-position: center;
              background-repeat: no-repeat;"></div>
      </ion-col>

      
      <ion-col size-sm="3" offset-sm="1" class="ion-text-left head-space ion-hide-sm-down">
        <ion-note class="head-contact"><ion-icon name="mail"></ion-icon> info@dasafricana.com</ion-note><br />
        
          <ion-label class="head-contact" style="font-size: 1.5rem;"><ion-icon name="call"></ion-icon> 01902229306</ion-label>
      </ion-col>
      
        

        <ion-col size-sm="3" class="ion-text-end head-space ion-hide-sm-down">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
          <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
          <!-- <a href="login" class="fa fa-user"></a><span style="cursor: pointer" (click)="login()">Login</span> -->
        </ion-col>
    </ion-row>
  </div>

  <div id="ribbon-section" class="ion-hide-sm-down">
    <!-- Category Section -->
    <ion-row>
      <ion-col size-sm="7" offset-sm="1"
       id="links" 
       class="ion-text-start"
       style="padding-right: .5rem;">
       
         
         
         <a href="home">Home</a>
         <a href="about" class="active">About us</a>
         <!-- <a href="gallery">Gallery</a> -->
         <!-- <a href="code">Code of Conduct</a> -->
         <!-- <a href="pub-members">Members</a> -->
         <a href="services">Our Services</a>
         <a href="menu">Menu</a>
         <a href="contact">Contact us</a>
         

       </ion-col>
       
   
       <ion-col size-sm="3"
       class="ion-hide-sm-down ion-text-end ion-no-padding ion-no-margin ion-text-end" 
       id="menu-phone">
         <!-- <span>      
         <a href="#" class="fa fa-phone ion-no-padding"></a>
             +23480-2344-3614</span>  -->
         </ion-col>
       </ion-row>
  </div>

  <div class="about-head"> 
    <ion-card-title color="light" class="ion-text-center">
      <div class="g-plate">About us</div>
      
    </ion-card-title>
    <!-- <ion-note class="ion-text-center">Association of Secirities Dealing Houses of Nigeria</ion-note> -->
  </div>

  <div class="ion-text-center space-header" >
    <ion-row> <!-- Featured Products-->
      <ion-col size-sm="10" 
      offset-sm="1">
        <!-- <ion-card>
          <ion-card-header>FEATURED PRODUCTS -->
            About DAS Africana
                     <!-- </ion-card-header>
        </ion-card> -->
          </ion-col>
    </ion-row>
</div>

<div class="wrapper">
  <div class="typing-demo">
    Best African Cuisine catered for you.
  </div>
</div>

    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-grid>
          <ion-row>
          
            <ion-col size-sm="6" size-xs="12" >
              <div style="height: 300px; background-image: url('assets/img/us.jpg'); background-position: center;
              background-repeat: no-repeat;
              background-size: cover; border-radius: .8rem;"></div>
            </ion-col>

            <ion-col size-sm="6" size-xs="12" >
              <!-- <div style="font-size: 1.8rem; " >Best African Cuisine catered for you.</div> -->
              <p class="ion-text-justify">Das Africana is a one-stop-shop for all your event needs, from catering to event planning and management. Our team of experienced professionals is dedicated to providing you with exceptional service, ensuring that your event is a memorable one.
              </p>

              <!-- <div style="font-size: 1.8rem; " >MISSION</div> -->
              <p class="ion-text-justify">Our rental services offer a wide range of event rentals to enhance your event experience. Our inventory includes tables, chairs, linens, décor, lighting, and audio-visual equipment, among others. We ensure that all our rental equipment is of the highest quality and in excellent condition, to give your event a professional and polished look.
              </p>
              <p class="ion-text-justify">
               </p>
              <p class="ion-text-justify">
              
              </p>

            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-col>
      
    </ion-row>


    
  <div class="ion-text-center space-header" >
    <ion-row> <!-- Featured Products-->
      <ion-col size-sm="10" 
      offset-sm="1">
        <!-- <ion-card>
          <ion-card-header>FEATURED PRODUCTS -->
            We have other service offerings
          <!-- </ion-card-header>
        </ion-card> -->
          </ion-col>
    </ion-row>
</div>



<ion-row>
  <ion-col size-sm="5" offset-sm="1">
    <ion-list>
      <ion-item>
        	Food Events
                                                                                                                   
      </ion-item>
      <ion-item>	Private Dining
        
       </ion-item>
       <ion-item> 	Festive Catering Menus 

        </ion-item>
        
        
    </ion-list>
  </ion-col>

  <ion-col size-sm="5" offset-sm="1">
    <ion-list>
      <ion-item>
          	Table Cloths

        
        </ion-item>
        <ion-item>
          	Buffet Dishes                                                                           
        
        </ion-item>
        <ion-item>
          	Waiters
        </ion-item>

    </ion-list>
  </ion-col>
  
</ion-row>



  <!-- <ion-row>
    
        <ion-col size-sm="10" offset-sm="1">
          <ion-grid>
            <ion-row>
            
              <ion-col size-sm="4" size-xs="12">
                <ion-card>
                  
                  <ion-card-content id="card-content" class="ion-text-center no-space">
                    <img src= "assets/img/council-members/9.jpg" class="no-space">
                    <ion-card-title>Athan. Ogbozor</ion-card-title>
                    <ion-card-subtitle>Executive Secretary/CEO</ion-card-subtitle>
                    
                  </ion-card-content>
                </ion-card>  
                
              </ion-col>


              <ion-col size-sm="4" size-xs="12">
                <ion-card>
                  
                  <ion-card-content id="card-content" class="ion-text-center no-space">
                    <img src= "assets/img/council-members/10.jpg" class="no-space">
                    <ion-card-title>Cornelius Okomi</ion-card-title>
                    <ion-card-subtitle>Administrative/Operations Manager</ion-card-subtitle>
                    
                  </ion-card-content>
                </ion-card>  
                
              </ion-col>


              <ion-col size-sm="4" size-xs="12">
                <ion-card>
                  
                  <ion-card-content id="card-content" class="ion-text-center no-space">
                    <img src= "assets/img/council-members/11.jpg" class="no-space">
                    <ion-card-title>Nicholas Ugwu</ion-card-title>
                    <ion-card-subtitle>Administrative Officer</ion-card-subtitle>
                    
                  </ion-card-content>
                </ion-card>  
                
              </ion-col>

            </ion-row>
          </ion-grid>
    </ion-col>
  </ion-row> -->


  
<!-- ---Starts Testimonials---- -->
<div class="spaceH_20"></div>
<div class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
      
      
      <div class="ion-text-center space-header" >
        <ion-row>
          <ion-col size-sm="10" 
          offset-sm="1">A few kind words from our clients.
              </ion-col>
        </ion-row>
      </div>
      

      <ion-row>
        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“Lunch was absolutely divine!! Compliments to you from all. Loads of food, everyone happy and well fed!”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>
    
        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“Catering service at Das Africana is simply amazing, the staff members are friendly, caring and very courteous.”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“We had a great experience at Das Africana. True African foods, well prepared for everyone.”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>““Lunch was absolutely divine!! Compliments to you from all. Loads of food, everyone happy and well fed!”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

      </ion-row>


    </ion-col>
  </ion-row>
</div>
<!-- End of testimonial -->



<!-- Display of Testimonials -->

<div class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
      <ion-slides pager="true" [options]="slideOpts_coverflow">
        <ion-slide>
          <img src="/assets/img/testimonial/1.jpg" />
          
          <!-- <h1>Slide 1</h1> -->
          <!-- <ion-button class="butAction">Start here</ion-button> -->

        </ion-slide>
        
        <ion-slide>
          <img src="/assets/img/testimonial/1.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/2.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/3.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>


        <ion-slide>
          <img src="/assets/img/testimonial/4.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        
        <ion-slide>
          <img src="/assets/img/testimonial/5.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/6.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>


        <ion-slide>
          <img src="/assets/img/testimonial/7.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/8.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/9.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/10.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/11.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/12.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/13.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/14.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/15.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/16.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/17.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/18.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <!-- <ion-slide>
          <img src="/assets/img/testimonial/19.jpg" />
          
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/20.jpg" />
          
        </ion-slide> -->
      </ion-slides>
    </ion-col>
  </ion-row>
</div>

<!-- End of Display of Testimonial -->


    <ion-footer class="ion-no-border footer gradient1">
      <!-- <ion-toolbar> -->
        <!-- <ion-title>Footer - No Border</ion-title> -->
        <ion-grid>
          <ion-row>
            <ion-col size-sm="4" size-xs="12" offset-sm="1"  class="ion-align-items-stretch">
              <!-- <img src="/assets/img/ashon-brand.png" > -->
              <div class="footer-logo"></div>
              
    
              
            </ion-col>
            <ion-col size-sm="3" size-xs="6"><span class="footer-bold">Contact Address</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><ion-icon  class="only-color" name="call">&nbsp;&nbsp;</ion-icon><span class="only-color">01902229306</span></ion-note>
                  </ion-col>
                </ion-row>
    
                  <ion-row>
                    <ion-col>
                      <!-- <ion-note><ion-icon name="call"></ion-icon> +23480-2344-3614</ion-note> -->
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col>
                      <ion-note><ion-icon class="only-color" name="mail"></ion-icon> <span  class="only-color">info@dasafricana.com</span></ion-note>
                    </ion-col>
                  </ion-row>
              </ion-grid>
              
              
            </ion-col>
            <ion-col size-sm="3" size-xs="6">
              <span class="footer-bold">Useful Links</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><a href="about">About us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="services">Services</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="menu">Menu</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="contact">Contact us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="http://webmail.dasafricana.com/" target="_blank">Webmail</a></ion-note>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            
        
          </ion-row>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-footer class="ion-text-center">
          <ion-note class="ion-margin"><span class="only-color-light"> DasAfricana &copy;2023 Built by <a href="#" target="_blank"><span class="only-color-light">Photizo Technologies</span></a></span>
         </ion-note>
        </ion-footer>
      </ion-col>
    </ion-row>
          
        </ion-grid>
      
    </ion-footer>
    <ion-fab vertical="top" horizontal="end" slot="fixed" class="ion-hide-sm-up fab">
      <ion-fab-button (click)="showCategories('myPop')"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>

