<!-- <ion-header> -->
  <ion-toolbar class="menu-top ion-hide-sm-up">
    <ion-title></ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    
        <!-- <ion-title>dash</ion-title> -->
        <ion-grid>
          <ion-row>
            <ion-col size-sm="5" offset-sm="1" class="ion-text-start contact-space" >
              <a href="#" id="email" class="fa fa-envelope"></a>
              <!-- <span id="email1">info@ashonng.org</span>&nbsp; -->
              <ion-note color="light"><ion-icon name="call"></ion-icon>01902229306</ion-note>
            </ion-col>
    
    
            <ion-col size-sm="5" class="ion-text-end">
              <!-- <ion-buttons slot="end"> -->
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                
             
                <!-- <ion-menu-button menu="first"></ion-menu-button> -->
              <!-- <ion-button><ion-icon name="person">Login</ion-icon></ion-button> -->
            <!-- </ion-buttons> -->
            </ion-col>
    
            <!-- <ion-col size-sm="2" class="ion-text-end">
              <a href="#" class="fa fa-user"></a><span>Login</span>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    <!-- </ion-header> -->
    
    <ion-content>
      <div class="head-logo">
        <ion-row >
    
          <ion-col size-sm="4" size-xs="12" class="ion-text-center">
            <!-- <img src="/assets/img/logo1.png">
             -->
             <div style="height: 140px; background-image: url('assets/img/logo1.png'); background-position: center;
                  background-repeat: no-repeat;"></div>
          </ion-col>
    
          
          <ion-col size-sm="3" offset-sm="1" class="ion-text-left head-space ion-hide-sm-down">
            <ion-note class="head-contact"><ion-icon name="mail"></ion-icon> info@dasafricana.com</ion-note><br />
            
              <ion-label class="head-contact" style="font-size: 1.5rem;"><ion-icon name="call"></ion-icon> 01902229306</ion-label>
          </ion-col>
          
            
    
            <ion-col size-sm="3" class="ion-text-end head-space ion-hide-sm-down">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
              <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
              <!-- <a href="login" class="fa fa-user"></a><span style="cursor: pointer" (click)="login()">Login</span> -->
            </ion-col>
        </ion-row>
      </div>
    
      <div id="ribbon-section" class="ion-hide-sm-down">
        <!-- Category Section -->
        <ion-row>
          <ion-col size-sm="7" offset-sm="1"
           id="links" 
           class="ion-text-start"
           style="padding-right: .5rem;">
           
             
             
             <a href="home">Home</a>
             <a href="about">About us</a>
             <!-- <a href="gallery">Gallery</a> -->
             <!-- <a href="code">Code of Conduct</a> -->
             <!-- <a href="pub-members">Members</a> -->
             <a href="services">Our Services</a>
             <a href="menu">Menu</a>
             <a href="contact" class="active">Contact us</a>
             
    
           </ion-col>
           
       
           <ion-col size-sm="3"
           class="ion-hide-sm-down ion-text-end ion-no-padding ion-no-margin ion-text-end" 
           id="menu-phone">
             <!-- <span>      
             <a href="#" class="fa fa-phone ion-no-padding"></a>
                 +23480-2344-3614</span>  -->
             </ion-col>
           </ion-row>
      </div>
        
      <div class="contact-head"> 
        <ion-card-title color="light" class="ion-text-center">
          <div class="g-plate">
            Contact
          </div>
          </ion-card-title>
        <!-- <ion-note class="ion-text-center">Association of Secirities Dealing Houses of Nigeria</ion-note> -->
      </div>
    
      <div class="ion-text-center space-header" >
        <ion-row> <!-- Featured Products-->
          <ion-col size-sm="10" size-sx="12" offset-sm="1">
            <!-- <ion-card>
              <ion-card-header>FEATURED PRODUCTS -->
                Reach out to us
              <!-- </ion-card-header>
            </ion-card> -->
              </ion-col>
        </ion-row>
    </div>

    <!-- <div class="ion-text-center space-header"> -->
      <form #f="ngForm" (ngSubmit) ="onProceed(f)">
      <ion-grid>
      <ion-row>
        
        <ion-col class="ion-text-center" size-sm="5" offset-sm="1" size-sx="12">
          <!-- <ion-label>{{serviceName}}</ion-label> -->
          <ion-list>
            
           <ion-item>
              <ion-input name="fullname" 
              required 
              type="text" 
              class="txtcls"
              id="fullname" required name="fullname" clear-input ngModel required><span class="lblStyle">Full name:</span></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-input name="email" 
              required 
              type="email" 
              class="txtcls"
              id="email" required name="email" clear-input ngModel required><span class="lblStyle">Email:</span></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="phone" 
              required 
              type="text" 
              class="txtcls"
              id="phone" required name="phone" clear-input ngModel required><span class="lblStyle">Phone:</span></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="subject" 
              required 
              type="text" 
              class="txtcls"
              id="subject" required name="subject" clear-input ngModel required><span class="lblStyle">Subject:</span></ion-input>
            </ion-item>

            <ion-item *ngIf="serviceOption">
              <span class="lblStyle">Service Type:</span>
              <ion-select ngModel #serviceT (ionChange)="onChangeServiceType(serviceT)" name="ServiceType1" id="ServiceType1" label="ServiceType">
                <ion-select-option value="Catering Service">Catering Service</ion-select-option>
                <ion-select-option value="Event Planning and Management">Event Planning and Management</ion-select-option>
                <ion-select-option value="Event Rentals">Event Rentals</ion-select-option>
                <ion-select-option value="Special Events">Special Events</ion-select-option>
                <ion-select-option value="Private Dinning">Private Dinning</ion-select-option>
                <ion-select-option value="Festive Catering">Festive Catering</ion-select-option>


                <!-- <ion-select [(ngModel)]="place" (click)="optionsFn(item);">
                  <ion-option value="item" *ngFor="let item of options">{{item.name}} &nbsp;&nbsp;{{item.price}}</ion-option> 
                </ion-select> -->


              </ion-select>
            </ion-item>

            <ion-item>
              <ion-textarea name="message" 
              required 
              type="text" 
              class="txtarea"
              id="messageBody" required name="messageBody" clear-input ngModel required><span class="lblStyle">Message in detail:</span></ion-textarea>
            </ion-item>
            
            <ion-item>
              <span class="lblStyle">Lets's check if you are human</span>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size-sm="6"> 
                  <ion-row>
                    <ion-col name ="operand1" size-sm="3">{{oper1}}</ion-col>
                    <ion-col size-sm="3">+</ion-col>
                    <ion-col name ="operand2" size-sm="3">{{oper2}}</ion-col>
                    <ion-col size-sm="3">=</ion-col>
                  </ion-row>
                  </ion-col> 
                  
                  <ion-col size-sm="6">
                    <ion-input name="Answer:" 
                    required 
                    type="text" 
                    class="txtcls"
                    id="subject" required name="answer" clear-input ngModel required><span class="lblStyle">Answer:</span></ion-input>
                  </ion-col> 
                </ion-row>
              </ion-grid>
              
            </ion-item>
            <!-- <ion-item> -->
              <ion-button type="submit" class="black-button" fill="solid" expand="block" size="large" [disabled]="!f.valid">Submit</ion-button>
            <!-- </ion-item> -->
          </ion-list>

          <!-- <ion-row>
            <ion-col size-sm="12" offset-sm="3"> 
              
            </ion-col>
          </ion-row>
     -->
        </ion-col>

        <!-- Seen on tablet screens above -->
        
        <ion-col size-sm="5" size-sx="12" style="font-size: 2.8rem;" class="ion-hide-sm-down">
        
          <ion-row>
            <!-- <div class="spaceH_20"></div> -->
            <ion-col size-sm="12"><span color="light" ><ion-icon name="call" ></ion-icon>01902229306</span></ion-col>
            <ion-col size-sm="12"><span color="light" ><ion-icon name="mail" ></ion-icon>info@dasafricana.com</span></ion-col>
          </ion-row>
        </ion-col>

        <!-- Seen only on mobile -->
        <ion-col size-sm="5" size-sx="12" style="font-size: 2.0rem;" class="ion-hide-sm-up">
          <ion-row>
            <ion-col size-sm="12"><span color="light" ><ion-icon name="call" ></ion-icon>01902229306</span></ion-col>
            <ion-col size-sm="12"><span color="light" ><ion-icon name="mail" ></ion-icon>info@dasafricana.com</span></ion-col>
          </ion-row>
          

        </ion-col>
      </ion-row>

    </ion-grid>
    </form>
    <!-- </div> -->

  
 
    <!-- ---Starts Testimonials---- -->
<div class="spaceH_20"></div>
<div class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
      
      
      <div class="ion-text-center space-header" >
        <ion-row>
          <ion-col size-sm="10" 
          offset-sm="1">A few kind words from our clients.
              </ion-col>
        </ion-row>
      </div>
      

      <ion-row>
        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“Lunch was absolutely divine!! Compliments to you from all. Loads of food, everyone happy and well fed!”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>
    
        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“Catering service at Das Africana is simply amazing, the staff members are friendly, caring and very courteous.”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“We had a great experience at Das Africana. True African foods, well prepared for everyone.”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>““Lunch was absolutely divine!! Compliments to you from all. Loads of food, everyone happy and well fed!”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

      </ion-row>


    </ion-col>
  </ion-row>
</div>
<!-- End of testimonial -->



<!-- Display of Testimonials -->

<div class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
      <ion-slides pager="true" [options]="slideOpts_coverflow">
        <ion-slide>
          <img src="/assets/img/testimonial/1.jpg" />
          
          <!-- <h1>Slide 1</h1> -->
          <!-- <ion-button class="butAction">Start here</ion-button> -->

        </ion-slide>
        
        <ion-slide>
          <img src="/assets/img/testimonial/1.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/2.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/3.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>


        <ion-slide>
          <img src="/assets/img/testimonial/4.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        
        <ion-slide>
          <img src="/assets/img/testimonial/5.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/6.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>


        <ion-slide>
          <img src="/assets/img/testimonial/7.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/8.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/9.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/10.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/11.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/12.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/13.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/14.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/15.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/16.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/17.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/18.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <!-- <ion-slide>
          <img src="/assets/img/testimonial/19.jpg" />
          
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/20.jpg" />
          
        </ion-slide> -->
      </ion-slides>
    </ion-col>
  </ion-row>
</div>

<!-- End of Display of Testimonial -->


    <ion-footer class="ion-no-border footer gradient1">
      <!-- <ion-toolbar> -->
        <!-- <ion-title>Footer - No Border</ion-title> -->
        <ion-grid>
          <ion-row>
            <ion-col size-sm="4" size-xs="12" offset-sm="1"  class="ion-align-items-stretch">
              <!-- <img src="/assets/img/ashon-brand.png" > -->
              <div class="footer-logo"></div>
              
    
              
            </ion-col>
            <ion-col size-sm="3" size-xs="6"><span class="footer-bold">Contact Address</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><ion-icon  class="only-color" name="call">&nbsp;&nbsp;</ion-icon><span class="only-color">01902229306</span></ion-note>
                  </ion-col>
                </ion-row>
    
                  <ion-row>
                    <ion-col>
                      <!-- <ion-note><ion-icon name="call"></ion-icon> +23480-2344-3614</ion-note> -->
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col>
                      <ion-note><ion-icon class="only-color" name="mail"></ion-icon> <span  class="only-color">info@dasafricana.com</span></ion-note>
                    </ion-col>
                  </ion-row>
              </ion-grid>
              
              
            </ion-col>
            <ion-col size-sm="3" size-xs="6">
              <span class="footer-bold">Useful Links</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><a href="about">About us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="services">Services</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="menu">Menu</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="contact">Contact us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="http://webmail.dasafricana.com/" target="_blank">Webmail</a></ion-note>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            
        
          </ion-row>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-footer class="ion-text-center">
          <ion-note class="ion-margin"><span class="only-color-light"> DasAfricana &copy;2023 Built by <a href="#" target="_blank"><span class="only-color-light">Photizo Technologies</span></a></span>
         </ion-note>
        </ion-footer>
      </ion-col>
    </ion-row>
          
        </ion-grid>
      
    </ion-footer>
    <ion-fab vertical="top" horizontal="end" slot="fixed" class="ion-hide-sm-up fab">
      <ion-fab-button (click)="showCategories('myPop')"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>