.g-plate {
    background-color: #382126; opacity: .8; border-radius: 0%;
    padding: 2rem; font-size: 4rem; 
  }

  .members {
    font-weight: bold; 
    background-color: var(--ion-color-secondary); 
    padding:.6rem;
  }

  .card-style {
    background-color: var(--ion-color-tertiary);
    font-weight: bold;
    color: var(--ion-color-light);

  }

  .bold-header {
    font-weight: bold;
    
  }
