<!-- <ion-header> -->
  <ion-toolbar class="menu-top ion-hide-sm-up">
    <ion-title></ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    
        <!-- <ion-title>dash</ion-title> -->
        <ion-grid>
          <ion-row>
            <ion-col size-sm="5" offset-sm="1" class="ion-text-start contact-space" >
              <a href="#" id="email" class="fa fa-envelope"></a>
              <!-- <span id="email1">info@ashonng.org</span>&nbsp; -->
              <ion-note color="light"><ion-icon name="call"></ion-icon>01902229306</ion-note>
            </ion-col>
    
    
            <ion-col size-sm="5" class="ion-text-end">
              <!-- <ion-buttons slot="end"> -->
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                
             
                <!-- <ion-menu-button menu="first"></ion-menu-button> -->
              <!-- <ion-button><ion-icon name="person">Login</ion-icon></ion-button> -->
            <!-- </ion-buttons> -->
            </ion-col>
    
            <!-- <ion-col size-sm="2" class="ion-text-end">
              <a href="#" class="fa fa-user"></a><span>Login</span>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    <!-- </ion-header> -->
    
    <ion-content>
      <div class="head-logo">
        <ion-row >
    
          <ion-col size-sm="4" size-xs="12" class="ion-text-center">
            <!-- <img src="/assets/img/logo1.png">
             -->
             <div style="height: 140px; background-image: url('assets/img/logo1.png'); background-position: center;
                  background-repeat: no-repeat;"></div>
          </ion-col>
    
          
          <ion-col size-sm="3" offset-sm="1" class="ion-text-left head-space ion-hide-sm-down">
            <ion-note class="head-contact"><ion-icon name="mail"></ion-icon> info@dasafricana.com</ion-note><br />
            
              <ion-label class="head-contact" style="font-size: 1.9rem;"><ion-icon name="call"></ion-icon> 01902229306</ion-label>
          </ion-col>
          
            
    
            <ion-col size-sm="3" class="ion-text-end head-space ion-hide-sm-down">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
              <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
              <!-- <a href="login" class="fa fa-user"></a><span style="cursor: pointer" (click)="login()">Login</span> -->
            </ion-col>
        </ion-row>
      </div>
    
      <div id="ribbon-section" class="ion-hide-sm-down">
        <!-- Category Section -->
        <ion-row>
          <ion-col size-sm="7" offset-sm="1"
           id="links" 
           class="ion-text-start"
           style="padding-right: .5rem;">
           
             
             
             <a href="home">Home</a>
             <a href="about">About us</a>
             <!-- <a href="gallery">Gallery</a> -->
             <!-- <a href="code">Code of Conduct</a> -->
             <!-- <a href="pub-members">Members</a> -->
             <a href="services">Our Services</a>
             <a href="menu">Menu</a>
             <a href="contact" class="active">Contact us</a>
             
    
           </ion-col>
           
       
           <ion-col size-sm="3"
           class="ion-hide-sm-down ion-text-end ion-no-padding ion-no-margin ion-text-end" 
           id="menu-phone">
             <!-- <span>      
             <a href="#" class="fa fa-phone ion-no-padding"></a>
                 +23480-2344-3614</span>  -->
             </ion-col>
           </ion-row>
      </div>
        
      <div class="contact-head"> 
        <ion-card-title color="light" class="ion-text-center">
          <div class="g-plate">
            Contact
          </div>
          </ion-card-title>
        <!-- <ion-note class="ion-text-center">Association of Secirities Dealing Houses of Nigeria</ion-note> -->
      </div>
    
      <!-- <div class="ion-text-center space-header" >
        <ion-row>
          <ion-col size-sm="10" size-sx="12" offset-sm="1">
                Reach out to us
              </ion-col>
        </ion-row>
    </div> -->

    <!-- </div> -->

  
 
    <!-- ---Starts Testimonials---- -->
<div class="spaceH_20"></div>
<div class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
      
      
      <div class="ion-text-center lblStyle" >
        <ion-row>
          <ion-col size-sm="10" 
          offset-sm="1">Thank you for your message, we will get back to you as soon as possible.
              </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" class="ion-text-right"> <ion-button (click)="onHome()">Go back home</ion-button> </ion-col>
          <ion-col size-sm="6" class="ion-text-left"> <ion-button (click)="onRequest()">A new request</ion-button> </ion-col>
        </ion-row>
        
        <!-- <ion-row>
          <ion-col size-sm="6" class="ion-text-right"> <a href="home">Go back home</a> </ion-col>
          <ion-col size-sm="6" class="ion-text-left"> <a href="services">A new request</a> </ion-col>
        </ion-row> -->

      </div>
    </ion-col>
  </ion-row>
</div>

<!-- Display of Testimonials -->


<!-- End of Display of Testimonial -->


    <ion-footer class="ion-no-border footer gradient1">
      <!-- <ion-toolbar> -->
        <!-- <ion-title>Footer - No Border</ion-title> -->
        <!-- <ion-grid> -->
          <ion-row>
            <ion-col size-sm="4" size-xs="12" class="ion-align-items-stretch">
              <!-- <img src="/assets/img/ashon-brand.png" > -->
              <div class="footer-logo"></div>
            </ion-col>

            <ion-col size-sm="4" size-xs="6" ><span class="footer-bold">Contact Address</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><ion-icon  class="only-color" name="call">&nbsp;&nbsp;</ion-icon><span class="only-color">01902229306</span></ion-note>
                  </ion-col>
                </ion-row>
    
                  <ion-row>
                    <ion-col>
                      <ion-note><ion-icon class="only-color" name="mail"></ion-icon> <span  class="only-color">info@dasafricana.com</span></ion-note>
                    </ion-col>
                  </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col size-sm="4" size-xs="5" >
              <span class="footer-bold">Useful Links</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><a href="about">About us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="services">Services</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="menu">Menu</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="contact">Contact us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="http://webmail.dasafricana.com/" target="_blank">Webmail</a></ion-note>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
      </ion-row>
    
      <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-footer class="ion-text-center">
          <ion-note class="ion-margin"><span class="only-color-light"> DasAfricana &copy;2023 Built by <a href="#" target="_blank"><span class="only-color-light">Photizo Technologies</span></a></span>
         </ion-note>
        </ion-footer>
      </ion-col>
    </ion-row>
          
        <!-- </ion-grid> -->
      
    </ion-footer>
    <ion-fab vertical="top" horizontal="end" slot="fixed" class="ion-hide-sm-up fab">
      <ion-fab-button (click)="showCategories('myPop')"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>