<ion-toolbar class="menu-top">
  <ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>

<!-- <ion-title>dash</ion-title> -->
<ion-grid>
  <ion-row>
    <ion-col size-sm="5" offset-sm="1" class="ion-text-start contact-space" >
      <a href="#" id="email" class="fa fa-envelope"></a>
      <!-- <span id="email1">info@ashonng.org</span>&nbsp; -->
      <ion-note color="light"><ion-icon name="call"></ion-icon> +2341-4543-168</ion-note>
    </ion-col>


    <ion-col size-sm="5" class="ion-text-end">
      <!-- <ion-buttons slot="end"> -->
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
     
        <!-- <ion-menu-button menu="first"></ion-menu-button> -->
      <!-- <ion-button><ion-icon name="person">Login</ion-icon></ion-button> -->
    <!-- </ion-buttons> -->
    </ion-col>

    <!-- <ion-col size-sm="2" class="ion-text-end">
      <a href="#" class="fa fa-user"></a><span>Login</span>
    </ion-col> -->
  </ion-row>
</ion-grid>
</ion-toolbar>

<ion-content>
  <form #f="ngForm" (ngSubmit) = "onSubmit(f)">
    <div style="height: 20px;"></div>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
      <!-- <img src="assets/img/logo_small.jpg" /> -->

      <div style="height: 150px; background-image: url('assets/img/logo1.png'); background-position: center;
              background-repeat: no-repeat;"></div>
      </ion-col>
    </ion-row>

    <ion-row padding class="ion-text-center">
      <ion-col size-sm="6" offset-sm="3">
        <ion-card-title>Create a new password below:</ion-card-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item class="bordered-item">
          <ion-label position="floating"><strong>New Password:</strong></ion-label>
          <ion-input name="password" id="password" ngModel required type="password"></ion-input>
          
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item class="bordered-item">
          <ion-label position="floating"><strong>Confirm Password:</strong></ion-label>
          <ion-input name="password2" id="password2" ngModel required type="password"></ion-input>
          
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button type="submit" class="black-button" fill="solid" expand="block" size="large" [disabled] ="!f.valid">Create Password</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<div class="ion-text-center space-header" >
  <ion-row>
    <ion-col size-sm="10" 
    offset-sm="1">
      <!-- <ion-card>
        <ion-card-header>FEATURED PRODUCTS -->
          <!-- Governing Council Members -->
        <!-- </ion-card-header>
      </ion-card> -->
        </ion-col>
  </ion-row>
</div>

<ion-footer class="ion-no-border footer gradient1">
  <!-- <ion-toolbar> -->
    <!-- <ion-title>Footer - No Border</ion-title> -->
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4"  size-xs="12" offset-sm="1" class="text ion-align-items-stretch">
          <!-- <img src="/assets/img/ashon-brand.png" > -->
          <div class="footer-logo"></div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-note><ion-icon name="location"></ion-icon>Medife House(3rd Floor), 58/60 Broad Street, Lagos Island, Lagos.</ion-note>
              </ion-col>
            </ion-row>

              <ion-row>
                <ion-col>
                  <ion-note><ion-icon name="call"></ion-icon> +23480-2344-3614</ion-note>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-note><ion-icon name="mail"></ion-icon> contact@solarhub.com</ion-note>
                </ion-col>
              </ion-row>
          </ion-grid>

          
        </ion-col>
        <ion-col size-sm="3" size-xs="6"><span class="footer-bold">Useful links</span>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-note><a href="about">About us</a></ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-note><a href="gallery">Gallery</a></ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-note><a href="members">Members</a></ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-note><a href="downloads">Downloads</a></ion-note>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col>
                <ion-note><a href="contact">Contact us</a></ion-note>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-col>
        <ion-col size-sm="3" size-xs="6">
          <span class="footer-bold">Join our new letters now</span>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-note>Get email updates about our Association</ion-note>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-input placeholder ="Please write your email" color="dark" clearinput type="text"></ion-input><ion-button>Subscribe</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        
    
      </ion-row>
<ion-row>
  <ion-col size-sm="10" offset-sm="1">
    <ion-footer class="ion-text-center">
      <ion-note class="ion-margin">
        ashonng.org &copy;2020 Built by <a href="#" target="_blank">Photizo Technologies</a></ion-note>
    </ion-footer>
  </ion-col>
</ion-row>
      
    </ion-grid>
  <!-- </ion-toolbar> -->

</ion-footer>
</ion-content>
