<!-- <ion-header> -->
  <ion-toolbar class="menu-top ion-hide-sm-up">
    <ion-buttons slot="start">
      <ion-menu-button id="mainmenu"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>dash</ion-title> -->
    <ion-grid>
      <ion-row>
        <ion-col size-sm="5" offset-sm="1" class="ion-text-start contact-space" >
          <a href="#" id="email" class="fa fa-envelope"></a>
          <!-- <span id="email1">info@ashonng.org</span>&nbsp; -->
          <ion-note color="light"><ion-icon name="call"></ion-icon> 01902229306</ion-note>
        </ion-col>

        <script type="JavaScript">
          alert('This is JavaScript!');
        </script>

        <ion-col size-sm="5" class="ion-text-end">
          <!-- <ion-buttons slot="end"> -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            
         
            <!-- <ion-menu-button menu="first"></ion-menu-button> -->
          <!-- <ion-button><ion-icon name="person">Login</ion-icon></ion-button> -->
        <!-- </ion-buttons> -->
        </ion-col>

        <!-- <ion-col size-sm="2" class="ion-text-end">
          <a href="#" class="fa fa-user"></a><span>Login</span>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
<!-- </ion-header> -->

<ion-content>
    
  <div class="head-logo">
    <ion-row >

      <ion-col size-sm="4" size-xs="12" class="ion-text-center">
        <!-- <img src="/assets/img/logo1.png">
         -->
         <div style="height: 140px; background-image: url('assets/img/logo1.png'); background-position: center;
              background-repeat: no-repeat;"></div>
      </ion-col>

      
      <ion-col size-sm="3" offset-sm="1" class="ion-text-left head-space ion-hide-sm-down">
        <ion-note class="head-contact"><ion-icon name="mail"></ion-icon> info@dasafricana.co.uk</ion-note><br />
        
          <ion-label class="head-contact" style="font-size: 1.5rem;"><ion-icon name="call"></ion-icon> 01902229306</ion-label>
      </ion-col>
      
        

        <ion-col size-sm="3" class="ion-text-end head-space ion-hide-sm-down">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
          <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
          <!-- <a href="login" class="fa fa-user"></a><span style="cursor: pointer" (click)="login()">Login</span> -->
        </ion-col>
    </ion-row>
  </div>

  <div id="ribbon-section" class="ion-hide-sm-down">
    <!-- Category Section -->
    <ion-row>
      <ion-col size-sm="7" offset-sm="1"
       id="links" 
       class="ion-text-start"
       style="padding-right: .5rem;">
       
         
         
         <a href="home" class="active">Home</a>
         <a href="about">About us</a>
         <!-- <a href="gallery">Gallery</a> -->
         <!-- <a href="code">Code of Conduct</a> -->
         <!-- <a href="pub-members">Members</a> -->
         <a href="services">Our Services</a>
         <a href="menu">Menu</a>
         <a href="contact">Contact us</a>
         

       </ion-col>
       
   
       <ion-col size-sm="3"
       class="ion-hide-sm-down ion-text-end ion-no-padding ion-no-margin ion-text-end" 
       id="menu-phone">
         <!-- <span>      
         <a href="#" class="fa fa-phone ion-no-padding"></a>
             +23480-2344-3614</span>  -->
         </ion-col>
       </ion-row>
  </div>
  
  <!-- Display -->
  <div class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
        <ion-slides pager="true" [options]="slideOpts_fade">
          <ion-slide>
            <img src="/assets/img/1.jpg" />
            
            <!-- <h1>Slide 1</h1> -->
            <!-- <ion-button class="butAction">Start here</ion-button> -->

          </ion-slide>
          
          <ion-slide>
            <img src="/assets/img/2.jpg" />
            <!-- <h1>Slide 1</h1> -->
          </ion-slide>

          <ion-slide>
            <img src="/assets/img/3.jpg" />
            <!-- <h1>Slide 1</h1> -->
          </ion-slide>

          <ion-slide>
            <img src="/assets/img/4.jpg" />
            <!-- <h1>Slide 1</h1> -->
          </ion-slide>

          
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <!-- End of Display -->

  <!-- <ion-grid> -->

        <!-- End Category Section -->

<div class="spaceH_20"></div>
<div class="ion-text-center space-header" >
      <ion-row> <!-- Featured Products-->
        <ion-col size-sm="10" 
        offset-sm="1">
          <!-- <ion-card>
            <ion-card-header>FEATURED PRODUCTS -->
              Welcome
            <!-- </ion-card-header>
          </ion-card> -->
            </ion-col>
      </ion-row>
</div>


      <ion-row>
        <ion-col size-sm="10" offset-sm="1">
          <ion-grid>
            <ion-row>
            
              <!-- <ion-col size-sm="6" size-xs="12" >
                <div style="height: 230px; background-image: url('assets/img/intro.jpg'); background-position: center;
                background-repeat: no-repeat;
                background-size: cover; border-radius: .8rem;"></div>
              </ion-col> -->

              <ion-col size-sm="12" size-xs="12" >
                <p class="ion-text-justify">Welcome to DAS Africana catering and event management services. We offer a one-stop-shop for all your event needs, from catering to event planning and management. Our team of experienced professionals is dedicated to providing you with exceptional service, ensuring that your event is a memorable one.
                </p>
                <p class="ion-text-justify">Our catering services showcase the richness and diversity of African cuisine. We offer a variety of menus that cater to all types of events, including corporate events, weddings, birthdays, and special occasions. Our experienced chefs use the freshest and highest quality ingredients to prepare authentic African dishes that will delight your taste buds. We also offer vegan, vegetarian, gluten-free, and halal options upon request.</p>
                <!-- <p>Our company have opened a new walk in outlet in Abuja with the aim of expansion in few months to come to other states and rural areas. 
                  </p>
                  <p>
                    Our goal is not only on urban invasion but rural impact where we can make food stuffs available at affordable prices to rural areas citizens.
                  </p> -->
                  <p class="ion-text-justify">At DAS Africana catering and event management services, we pride ourselves on our attention to detail, excellent customer service, and professionalism. Contact us today to learn more about our services and how we can make your next event a success. </p>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-col>
        
      </ion-row>



      <!-- <div class="ion-text-center space-header" >
        <ion-row>
          <ion-col size-sm="10" 
          offset-sm="1">
                The riches of African menu.
              </ion-col>
        </ion-row>
  </div> -->

  <div class="container" >
    <ion-row> <!-- Featured Products-->
      <ion-col size-sm="10" offset-sm="1">
      <img src="/assets/img/inner-images/catering.jpg" alt="Snow" style="width:100%; border-radius: 2em 0em 10em 0em;">
      <!-- <div class="centered">Our catering services showcase the richness and diversity of African cuisine. We offer a variety of menus that cater to all types of events, including corporate events, weddings, birthdays, and special occasions</div> -->

          </ion-col>
    </ion-row>
</div>

  
<div class="spaceH_20"></div>
  <div class="ion-text-center space-header" >
    <ion-row>
      <ion-col size-sm="10" 
      offset-sm="1">
        <!-- <ion-card>
          <ion-card-header>FEATURED PRODUCTS -->
            Our Services
          <!-- </ion-card-header>
        </ion-card> -->
          </ion-col>
    </ion-row>
  </div>
  

  <!-- Start of Services -->

  <!-- <div class="ion-no-padding ion-no-margin bluebag">
    <ion-row>
      <ion-col size-sm="12" size-xs="12" class="ion-no-padding"> -->

    <ion-row>
    <ion-col size-sm="10" offset-sm="1">
      <ion-grid>
        <ion-row>
        
          <ion-col size-sm="3" size-xs="12" size-md="4">
            <ion-card class="no-space">
              <ion-card-content id="card-content" class="container2 ion-text-center no-space">
                <img src= "assets/img/council-members/catering.jpg" class="no-space">
                <ion-card-title class="overlay">
                  
                  <div class="text">CATERING SERVICES
                  
                    <br /><br />
                    
                    <p>Our experienced chefs use the freshest and highest quality ingredients to prepare authentic African dishes that will delight your taste buds. </p>
                    <a href="services" class="buts"><ion-card-subtitle>Learn more..</ion-card-subtitle></a>
                  </div></ion-card-title>
                <a href="services"><ion-card-subtitle class="overlayLink">Learn more..</ion-card-subtitle></a>
              </ion-card-content>
            </ion-card>  
            
          </ion-col>

          
          

          <ion-col size-sm="3" size-xs="12" size-md="4">
            <ion-card class="no-space">
              
              <ion-card-content id="card-content" class="container2 ion-text-center no-space">
                <img src= "assets/img/council-members/events.jpg" class="no-space">
                <ion-card-title class="overlay">
                  
                  <div class="text">EVENT PLANNING AND MANAGEMENT
                    <br /><br />
                    <p>Our event planning and management services ensure that your event is a success from start to finish. We work closely with you to understand your vision, goals, and budget </p>
                  </div></ion-card-title>
                <a href="services"><ion-card-subtitle class="overlayLink">Learn more..</ion-card-subtitle></a>
              </ion-card-content>
            </ion-card>  
            
          </ion-col>

          
          

          <ion-col size-sm="3" size-xs="12" size-md="4">
            <ion-card class="no-space">
              
              <ion-card-content id="card-content" class="container2 ion-text-center no-line">
                <img src= "assets/img/council-members/rental1.jpg" class="no-space">
                <ion-card-title class="overlay">
                  <div class="text">EVENT RENTALS
                    <br /><br />
                    <p>We offer a wide range of event rentals to enhance your event experience. Our inventory includes tables, chairs, linens, décor, lighting, and audio-visual equipment, among others </p>
                  </div></ion-card-title>
                <a href="services" ><ion-card-subtitle class="overlayLink">Learn more..</ion-card-subtitle></a>
              </ion-card-content>
            </ion-card>  
            
          </ion-col>



        </ion-row>
      </ion-grid>
      
    </ion-col>
    
    </ion-row>
  <!-- </ion-col>
  </ion-row>
  </div> -->
  <!-- End of Services -->



  <!-- ---Starts How Das Africana works---- -->
  <div class="spaceH_20"></div>
  <div class="ion-no-padding ion-no-margin bluebag">
    <ion-row>
      <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
  
  <div class="ion-text-center space-header" >
    <ion-row>
      <ion-col size-sm="10" 
      offset-sm="1">
        <!-- <ion-card>
          <ion-card-header>FEATURED PRODUCTS -->
            How Das Africana works
          <!-- </ion-card-header>
        </ion-card> -->
          </ion-col>
    </ion-row>
  </div>

<!-- Council Members List -->
  <ion-row>
    <ion-col size-sm="10" offset-sm="1">
      <ion-grid>
        <ion-row>
        
          <ion-col size-sm="3" size-xs="12" size-md="4">
            <ion-card class="no-space">
              
              <ion-card-content id="card-content" class="ion-text-center no-space">
                <img src= "assets/img/council-members/occassion.jpg" class="no-space">
                <div class="spaceH_20"></div>
                <ion-card-title>WE CATER FOR ALL OCCASSIONS AT YOUR CHOICE VENUE</ion-card-title>
                <div class="spaceH_10"></div>
                <p>Decide the number of guest at your event and choose a package
                <!-- <a href="services"><ion-card-subtitle>Learn more..</ion-card-subtitle></a> </p> -->
                
              </ion-card-content>
            </ion-card>  
            
          </ion-col>


          <ion-col size-sm="3" size-xs="12" size-md="4">
            <ion-card class="no-space">
              
              <ion-card-content id="card-content" class="ion-text-center no-space">
                <img src= "assets/img/council-members/menus.jpg" class="no-space">
                <div class="spaceH_20"></div>
                <ion-card-title>CHECK OUT OUR MENU AND MAKE YOUR FOOD CHOICES</ion-card-title>
                <div class="spaceH_10"></div>
                <p>Keep in mind we can make changes to the finer details to make your event extra special
                <!-- <a href="services"><ion-card-subtitle>Learn more..</ion-card-subtitle></a></p> -->
                
              </ion-card-content>
            </ion-card>  
            
          </ion-col>

          <ion-col size-sm="3" size-xs="12" size-md="4">
            <ion-card class="no-space">
              
              <ion-card-content id="card-content" class="ion-text-center no-space">
                <img src= "assets/img/council-members/order_form.jpg" class="no-space">
                <div class="spaceH_20"></div>
                <ion-card-title>FILL OUT THE ORDER FORM AND LET’S DISCUSS YOUR EVENT IN DETAILS</ion-card-title>
                <div class="spaceH_10"></div>
                <p>We can’t wait to hear from you!
                <a href="contact"><ion-card-subtitle>Learn more..</ion-card-subtitle></a></p>
                
              </ion-card-content>
            </ion-card>  
            
          </ion-col>



        </ion-row>
      </ion-grid>
      
    </ion-col>
    
  </ion-row>

  
      
</ion-col>
</ion-row>
</div>

<!-- End ---How Das Africana works--- -->


<!-- ---Starts Testimonials---- -->
<div class="spaceH_20"></div>
<div class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
      
      
      <div class="ion-text-center space-header" >
        <ion-row>
          <ion-col size-sm="10" 
          offset-sm="1">A few kind words from our clients.
              </ion-col>
        </ion-row>
      </div>
      

      <ion-row>
        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title class="quotes-body">“Lunch was absolutely divine!! Compliments to you from all. Loads of food, everyone happy and well fed!”</ion-card-title>
              <div class="spaceH_10"></div>
              <p class="quotes-body">Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>
    
        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“Catering service at Das Africana is simply amazing, the staff members are friendly, caring and very courteous.”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>“We had a great experience at Das Africana. True African foods, well prepared for everyone.”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

        <ion-col size-sm="3" size-xs="12" size-md="3">
          <ion-card>
            
            <ion-card-content id="card-content" class="ion-text-center">
              <div class="spaceH_20 quotes">“</div>
              <div class="spaceH_20"></div>
              <ion-card-title>““Lunch was absolutely divine!! Compliments to you from all. Loads of food, everyone happy and well fed!”</ion-card-title>
              <div class="spaceH_10"></div>
              <p>Private Client</p>
              
            </ion-card-content>
          </ion-card>  
          
        </ion-col>

      </ion-row>


    </ion-col>
  </ion-row>
</div>
<!-- End of testimonial -->



<!-- Display of Testimonials -->

<div class="ion-no-padding ion-no-margin">
  <ion-row>
    <ion-col size-sm="12" size-xs="12" class="ion-no-padding">
      <ion-slides pager="true" [options]="slideOpts_coverflow">
        <ion-slide>
          <img src="/assets/img/testimonial/1.jpg" />
          
          <!-- <h1>Slide 1</h1> -->
          <!-- <ion-button class="butAction">Start here</ion-button> -->

        </ion-slide>
        
        <ion-slide>
          <img src="/assets/img/testimonial/1.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/2.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/3.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>


        <ion-slide>
          <img src="/assets/img/testimonial/4.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        
        <ion-slide>
          <img src="/assets/img/testimonial/5.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/testimonial/6.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>


        <ion-slide>
          <img src="/assets/img/testimonial/7.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/8.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/9.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/10.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/11.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/12.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/13.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/14.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/15.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/16.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/17.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/18.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/19.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
        <ion-slide>
          <img src="/assets/img/testimonial/20.jpg" />
          <!-- <h1>Slide 1</h1> -->
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</div>

<!-- End of Display of Testimonial -->


    <ion-footer class="ion-no-border footer gradient1">
      <!-- <ion-toolbar> -->
        <!-- <ion-title>Footer - No Border</ion-title> -->
        <ion-grid>
          <ion-row>
            <ion-col size-sm="4" size-xs="12" offset-sm="1"  class="ion-align-items-stretch">
              <!-- <img src="/assets/img/ashon-brand.png" > -->
              <div class="footer-logo"></div>
              
    
              
            </ion-col>
            <ion-col size-sm="3" size-xs="6"><span class="footer-bold">Contact Address</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><ion-icon  class="only-color" name="call">&nbsp;&nbsp;</ion-icon><span class="only-color">01902229306</span></ion-note>
                  </ion-col>
                </ion-row>
    
                  <ion-row>
                    <ion-col>
                      <!-- <ion-note><ion-icon name="call"></ion-icon> +23480-2344-3614</ion-note> -->
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col>
                      <ion-note><ion-icon class="only-color" name="mail"></ion-icon> <span  class="only-color">info@dasafricana.com</span></ion-note>
                    </ion-col>
                  </ion-row>
              </ion-grid>
              
              
            </ion-col>
            <ion-col size-sm="3" size-xs="6">
              <span class="footer-bold">Useful Links</span>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-note><a href="about">About us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="services">Services</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="menu">Menu</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="contact">Contact us</a></ion-note>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-note><a href="http://webmail.dasafricana.com/" target="_blank">Webmail</a></ion-note>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            
        
          </ion-row>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1">
        <ion-footer class="ion-text-center">
          <ion-note class="ion-margin"><span class="only-color-light"> DasAfricana &copy;2023 Built by <a href="#" target="_blank"><span class="only-color-light">Photizo Technologies</span></a></span>
         </ion-note>
        </ion-footer>
      </ion-col>
    </ion-row>
          
        </ion-grid>
      <!-- </ion-toolbar> -->
  

    </ion-footer>
    <ion-fab vertical="top" horizontal="end" slot="fixed" class="ion-hide-sm-up fab">
      <ion-fab-button (click)="showCategories('myPop')"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>
